*.o
*.a
Makefile
/autom4te.cache
/aclocal.m4
/dropbear*
/dbclient
/scp
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/util
/localoptions.h
/default_options_guard.h
